/* site.css*/
header { 
    background-color:lightgray;
    border: solid 3px black;
    font-family: 'Times New Roman', serif;
    border-radius: 5px;
}

   body {
    font-family: Times New Roman, Cochin, Georgia, Times, Cambria, serif;
    font-size: 20px;
    background-color: darkgreen;
}

a {
    color: green;
}

html, body {
    padding: 0;
    margin: 0;
}

#results {
    padding: 2px;
    width: 600px;
    display: inline-block;
    vertical-align: top;
}

.bordered image {
    border: solid 1px;
    border-radius: 5px;
}

.form {
border: solid 3px;
border-radius: 5px;
background-color: lightgrey;
padding: 2px;
padding-left: 5px;
margin-left: 3px;
width: 300px;
position: static;
display: inline-block;
vertical-align: top;
}
footer {
color:white;
background-color: rgb(161, 26, 26);
border: solid 3px black;
border-radius: 5px;
width: 160px;
}

#main {
    border: solid 3px #ccc;
    border-radius: 5px;
    color: #202020;
    margin:10px 0px 10px 0px ;
}

#main label {
font-weight: bold;
}

#main input [type=text],
#main select {
    width: 150px;
}

#main input[type=submit] {
    background-color:green;
    color:white;
    border-radius: 15px;
    padding: 3px;
    margin-top: 5px;
    width: 110px;
    height: 50px;
    font-size: 25px;
}

.button {
    color: green;
}

.container {
 width: 989px;
 margin: 0 auto;
 background-color:white; 
 padding: 5px;
}

header nav {
    float: right;
    margin-right: 1px;
}

header nav li {
    display: inline;
    font-size: 18px;
}
